<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cat Lab</title>
</head>
<body>
    <nav>
        <a href="/cats/new">Add New Cat</a>
    </nav>
    <h1>Here are some cool cats!</h1>
    <div class="img-container">
        <% cats.forEach((cat) => { %>
            <div class="img-card"><a href="/cats/<%= cat._id %>"><img src="<%= cat.image %>" alt="<%= cat.name %>"></a></div>
        <% }) %>
    </div>
</body>
</html>