<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Cat</title>
  </head>

<body>
  <h1>Add a Cat!</h1>
  <form action="/cats" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <label for="age">Age:</label>
    <input type="text" name="age" id="age" />
    <label for="image">Link to Image:</label>
    <input type="text" name="image" id="image" />    
    

    <button type="submit">Add Cat</button>

    <a href="/cats">Back to Home</a>

  </form>
</body>

</html>